@media (max-width: 575.98px) {
  #void ,.super_slide{
    display: none!important;
  }
  #hero:before {
      bottom: -7vh;
  }
  #texto_automatico{
    padding: 0 60px!important;
  }
  .navbar ul {
    display: flex;
  }
  .li_btn_modo{
    left: 0px!important;
  }
  .li_no_va{
    display: none;
  }
  #carrouselflotante #acordeon h4 {
    padding-left: 6.5333vw;
}
i.icon_modi_aco.fa-solid.fa-chart-column {
  margin-bottom: .5rem;

}
}

/* Para pantallas medianas, el color de fondo es azul */
@media (min-width: 576px) and (max-width: 767.98px){
  #void,.super_slide {
      display: none!important;
    }
    #hero:before {
      bottom: -7vh;
  }
  #texto_automatico{
    padding: 0 60px!important;
  }
  .navbar ul {
    display: flex;
  }
  .li_btn_modo{
    left: 0px!important;
  }
  .li_no_va{
    display: none;
  }
  #carrouselflotante #acordeon h4 {
    padding-left: 6.5333vw;
}
i.icon_modi_aco.fa-solid.fa-chart-column {
  margin-bottom: .5rem;

}
  
} 
@media (max-width: 420px) and (max-height: 400px){
    #hero:before {
      bottom: -7vh;
  }
 
}

@media (max-width: 900px){
  .navbar ul {
      display: flex!important;
  }
  #hero:before {
    bottom: -12vh;
}
.li_btn_modo{
  left: 0px!important;
}
.li_no_va{
  display: none;
}
#void,.super_slide {
  display: none!important;
}
.super_slide2 .col-md-6 {
  width: 100%;
}
#carrouselflotante #acordeon h4 {
  padding-left: 6.5333vw;
}
i.icon_modi_aco.fa-solid.fa-chart-column {
margin-bottom: .5rem;
}
#texto_automatico{
  padding: 0 60px!important;
}

}

/* Para pantallas grandes, el color de fondo es rojo */

@media  (min-width: 952px) {
  #acordeon,.super_slide2{
      display: none!important;
  }
 }

 @media  (min-width: 952px) {
  #acordeon,.super_slide2{
      display: none!important;
  }
 }

 @media  (min-height: 550px) {
  #acordeon,.super_slide2{
      display: none!important;
  }
 }
  /**/

.accordion_hechos_sub{
  width: 100%;
}

